:root {
  --theme-color-one: #1a8dff;
  --theme-color-two: #8f8f8f;
  --theme-color-three: #f05053;
  --text-color-one: #ffffff;
  --text-color-two: #524f4f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Navbar starts from here 😏 */
.navBar {
  background-color: var(--theme-color-one);
  width: 100vw;
  height: 45px;
  z-index: 1000;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 7% 0% 7%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo a {
  color: var(--text-color-one);
  text-decoration: none;
}

.navbarLinks {
  display: flex;
  list-style-type: none;
}

.burgerMenu {
  display: none;
}

@media screen and (max-width: 750px) {
  .navbarLinks {
    display: none;
  }

  .burgerMenu {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .burgerMenu > div {
    background-color: var(--theme-color-three);
    width: 25px;
    height: 4px;
    margin: 3px;
    border-radius: 5px;
  }
}

.navbarLinks li {
  padding-left: 15px;
  font-size: 11px;
}

.navbarLinks li a {
  color: var(--text-color-one);
  text-decoration: none;
}

/* Cover page start from here 😈 */

.coverPage {
  width: 100%;
  height: 80vh;
  background-color: var(--theme-color-three);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coverPageContent {
  display: flex;
  flex-direction: column;
  width: 55vw;
  height: 60vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tagLine {
  padding-bottom: 20px;
  font-size: 5vh;
}

.punchLine {
  padding-bottom: 20px;
  width: 40vw;
}

.coverPageButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.coverPageButtons div:nth-child(1) {
  padding: 12px 50px;
  border-radius: 25px;
  background-color: var(--theme-color-one);
  border: 1px solid var(--theme-color-one);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.coverPageButtons div:nth-child(1):hover {
  background-color: transparent;
  border: 1px solid var(--text-color-one);
}

.coverPageButtons div:nth-child(2) {
  padding: 12px 35px;
  border-radius: 25px;
  border: 1px solid var(--text-color-one);
  cursor: pointer;
  margin: 10px;
}

.coverPageButtons div:nth-child(2):hover {
  background-color: var(--theme-color-one);
  border: 1px solid var(--theme-color-one);
}
@media screen and (max-width: 750px) {
  .coverPage {
    height: 100vh;
  }

  .coverPageContent {
    width: 90%;
    height: 100vh;
  }

  .punchLine {
    width: 80vw;
  }

  .coverPageButtons {
    flex-direction: column;
  }
}
/* Info start from here 👍 */

.mainInfo {
  width: 100%;
  height: auto;
  background-color: var(--theme-color-two);
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 750px) {
  .mainInfo {
    flex-wrap: wrap;
  }
}

.mainInfo > div {
  margin: 10px;
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 20px 20px;
}

.mainInfo > div:nth-child(2) {
  justify-content: center;
  border-left: 1px solid var(--text-color-two);
  border-right: 1px solid var(--text-color-two);
}
@media screen and (max-width: 750px) {
  .mainInfo > div:nth-child(2) {
    border: none;
    border-top: 1px solid var(--text-color-two);
    border-bottom: 1px solid var(--text-color-two);
  }
}
.mainInfo img {
  height: 80px;
  border-radius: 50%;
  border: 1px solid var(--text-color-two);
}

.mainInfo-textContent {
  padding-left: 20px;
}
/* WElcome page start from here */
.welcomePage {
  display: flex;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  background-color: var(--text-color-two);
}
.imageBackground {
  background: url("https://images.pexels.com/photos/3558597/pexels-photo-3558597.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  /* background-color: var(--theme-color-three); */
  width: 50vw;
  height: 60vh;
}
.welcomeText {
  display: flex;

  background-color: var(--text-color-two);
  width: 35vw;
  height: 60vh;
}
.welcomeText > div {
  width: 28vw;
  display: flex;
  margin-left: 20px;
  align-items: center;
}
/* Why-US page start from here */

.why-us-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  background-color: var(--theme-color-two);
}
.why-us-text {
  width: 30vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.why-us-text > div {
  line-height: 1.8;
  width: 28vw;
}
.why-us-features {
  width: 50vw;
  height: 70vh;
  display: flex;
  align-items: center;
}
.why-us-features-content {
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-areas:
    "div1 div1 div1"
    "div2 div2 div2";
}

.why-us-features-content > div {
  width: 12vw;
  height: 20vh;
  margin: 10px;
  text-align: center;
}
.why-us-features-content img {
  border-radius: 50%;
  margin-bottom: 5px;
}
/* our R & D LAB Section */

.our-lab {
  width: 100%;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-lab-inner {
  width: 80%;
  height: 85vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.our-lab-heading {
  text-align: center;
  width: 70%;
  line-height: 1.8;
  padding: 10px;
}

.our-lab-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-lab-cards > div {
  margin: 10px;
  width: 20vw;
  height: 50vh;
  border: 1px solid black;
  background-color: var(--theme-color-two);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  line-height: 1.8;
  padding: 10px;
}
.our-lab-cards h3 {
  margin-bottom: 15px;
}

/* Area interest section start from here */

.area-interest {
  width: 100%;
  height: 80vh;
  display: flex;
  /* justify-content: center; */
  text-align: center;
  flex-direction: column;
  padding: 20px;
}
.area-interest h2{
  margin-bottom: 30px;
}
.area-interest-section {
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-areas:
    "div1 div1 div1"
    "div2 div2 div2";
}

.area-interest-section div {
  width: 20vw;
  height: 32vh;
  margin: 20px;
}
.area-interest-section img{
  margin-bottom: 20px;
}

